<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">Editar: {{ poi.name }}</h1>
        <div class="flex justify-center">
          <p class="max-w-4xl">Aqui podrá añadir un nuevos puntos de interés a la plataforma.
          </p>
        </div>
        <div class="text-center row">
          <div v-if="validationSuccess" class="text-green-500 font-semibold">Punto de Interés insertado correctamente!
          </div>
          <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido procesar su solicitud
          </div>
        </div>
      </div>
      <div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 text-left">
        <!-- Replace with your content -->
        <div>
          <form action="" method="POST" @submit.prevent="validateForm">
            <div>
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Información Obligatoria</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Información relacionada con el Punto de Interés.
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Nombre del
                            Lugar</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="poi.name" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">URL, ¡Debe ser
                            única!</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="poi.url" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Latitud</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            type="number" step="0.00000001" v-model="poi.latitude" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="lastname"
                            class="block text-sm font-medium leading-5 text-gray-700">Longitud</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            type="number" step="0.00000001" v-model="poi.longitude" />
                        </div>

                        <div class="col-span-6">
                          <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="lg:flex">
                              <div class="lg:w-1/2 w-full pr-12 mb-8 lg:mb-0">
                                <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                                  ¿Pertenece a algún Lugar?
                                </label>
                                <div class="mt-1 flex rounded-md shadow-sm">
                                  <admin-search-all-places></admin-search-all-places>
                                </div>
                              </div>
                              <div class="lg:w-1/2 w-full">
                                <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                                  Lugar Seleccionado
                                </label>
                                <div class="mt-1 flex shadow-sm">
                                  <input id="lugar"
                                    class="flex-1 form-input rounded-none rounded-l block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 bg-cool-gray-200"
                                    :value="placeName" disabled />
                                  <button class="flex-shrink-0 bg-red-100 py-1 px-2 rounded-r" type="button"
                                    @click="unselectPlace">
                                    <i class="far fa-trash-alt fa-2x text-red-500"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>

            <div class="mt-10 sm:mt-0">
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Información Adicional</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Información adicional del lugar
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="mt-6">
                        <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
                          Descripción del punto de interés
                        </label>
                        <div class="rounded-md shadow-sm">
                          <div class="mt-4">
                            <mc-wysiwyg v-model="poi.description" :hide="hide" :height="100"></mc-wysiwyg>
                          </div>
                        </div>
                      </div>
                      <div class="mt-6">
                        <label class="block text-sm leading-5 font-medium text-gray-700">
                          Imagen (Vista Previa)
                        </label>
                        <div class="mt-2 flex items-center">
                          <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100"
                            v-if="poi.thumbnail_url">
                            <img :src="poi.thumbnail_url" class="h-12 w-12">
                          </span>
                          <span class="ml-5 rounded-md shadow-sm">
                            <div>
                              <label for="file"
                                class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                Editar Imagen
                              </label>
                              <input type="file" id="file" ref="file"
                                class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out hidden"
                                @change="onFileChange" />
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>

            <div class="mt-10 sm:mt-0">
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Categorías Relacionadas</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Indique a qué lugares pertenece el lugar indicado
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-2" v-for="category in categories" :key="category.id">
                          <label for="category"
                            class="block text-sm font-medium leading-5 text-gray-700">{{ category.name }}</label>
                          <input id="name" class="" type="checkbox" v-model="category.checked" @click="checkedCategory(category)" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>

            <div class="mt-10 sm:mt-0">
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Detalles del Punto de Interés</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Indique a qué lugares pertenece el lugar indicado
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Horario</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="details['opening_hours']" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Dirección</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="details['address']" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Admisión</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="details['admission']" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Email</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="details['email']" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Teléfono</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="details.phone" />
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-8">
              <hr class="border-gray-300">
              <div class="mt-8 text-right">
                <button type="submit"
                  class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-main-500 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out">
                  Editar POI!
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import {
    McWysiwyg
  } from '@mycure/vue-wysiwyg';
  import {
    serverBus
  } from '../../../main';
  import AdminSearchAllPlaces from './components/AdminSearchAllPlaces.vue';

  export default {
    name: 'AdminEditPoi',
    data() {
      return {
        poi: [],
        hide: {},
        validationSuccess: false,
        validationError: false,
        categories: [],
        details: {
          opening_hours: null,
          address: null,
          admission: null,
          phone: null,
          email: null
        }
      }
    },
    methods: {
      onFileChange() {
        const file = this.$refs.file.files[0];
        this.poi.original_photo_url = this.poi.thumbnail_url;
        this.poi.thumbnail_url = URL.createObjectURL(file);
        this.poi.new_photo = file;
      },
      unselectPlace() {
        this.poi.place_id = null;
        this.poi.place = null;
      },
      checkedCategory(cat) {
        if (this.poi.cat.includes(cat.id)) {
          this.poi.cat = this.poi.cat.filter(item => item != cat.id)
        } else {
          this.poi.cat.push(cat.id)
        }
      },
      validateForm() {
        this.validationError = false
        this.validationSuccess = false
        
        this.poi.details = this.details
        this.$store.dispatch('editPoi', {
            poi: this.poi,
            image: this.poi.new_photo
          })
          .then(() => {
            this.validationSuccess = true;
          })
          .catch(() => {
            this.validationError = true;
          })
      },
      getPoi(id) {
        this.$store.dispatch('getPoi', id)
          .then((response) => {
            this.poi = response.data.data
            this.preparePoiDetails();
          })
      },
      preparePoiDetails() {
        let details = this.poi.details_poi;
        details.forEach(detail => {
          this.details[detail.type] = detail.description
        });
      },
      getPoiCategories(id) {
        this.$store.dispatch('getPoiCategories', id)
          .then((response) => {
            this.categories = response.data.data 
          })
      }
    },
    components: {
      McWysiwyg,
      AdminSearchAllPlaces,
    },
    computed: {
      placeName() {
        return this.poi.place ? this.poi.place.name : null;
      },
    },
    created() {
      serverBus.$on('placeSelected', (place) => {
        this.poi.place_id = place.id;
        this.poi.place = place;
      });

      this.getPoiCategories(this.$route.params.poi_id)
      this.getPoi(this.$route.params.poi_id);
    },
  }
</script>

<style>

</style>