<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">Añadir un Lugar</h1>
        <div class="flex justify-center">
          <p class="max-w-4xl">Aqui podrá añadir un nuevo lugar a la plataforma.
          </p>
        </div>
        <div class="text-center row">
          <div v-if="validationSuccess" class="text-green-500 font-semibold">Lugar insertado correctamente!</div>
          <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido procesar su solicitud
          </div>
        </div>
      </div>
      <div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 text-left">
        <!-- Replace with your content -->
        <div>
          <form action="" method="POST" @submit.prevent="validateForm">
            <div>
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Información Obligatoria</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Información obligatoria para poder insertar el Lugar
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Nombre del
                            Lugar</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="place.name" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="lastname" class="block text-sm font-medium leading-5 text-gray-700">Nivel</label>
                          <select id="country"
                            class="mt-1 block form-select w-full py-2 px-3 py-0 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="place.level">
                            <option value="state">Estado</option>
                            <option value="country">País</option>
                          </select>
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                          <label for="username" class="block text-sm font-medium leading-5 text-gray-700">URL, ¡Debe ser
                            única!</label>
                          <input id="username"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="place.url" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Latitud</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            type="number" step="0.00000001" v-model="place.latitude" />
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                          <label for="lastname"
                            class="block text-sm font-medium leading-5 text-gray-700">Longitud</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            type="number" step="0.00000001" v-model="place.longitude" />
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>

            <div class="mt-10 sm:mt-0">
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Información del Lugar</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Indique a qué lugares pertenece el lugar indicado
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="lg:flex">
                        <div class="lg:w-1/2 w-full pr-12 mb-8 lg:mb-0">
                          <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                            ¿Pertenece a algún País?
                          </label>
                          <div class="mt-1 flex rounded-md shadow-sm">
                            <admin-search-places :searchType="'country'"></admin-search-places>
                          </div>
                        </div>
                        <div class="lg:w-1/2 w-full">
                          <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                            País seleccionado
                          </label>
                          <div class="mt-1 flex shadow-sm">
                            <input id="lugar"
                              class="flex-1 form-input rounded-none rounded-l block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 bg-cool-gray-200"
                              :value="place.country.name" disabled />
                            <button class="flex-shrink-0 bg-red-100 py-1 px-2 rounded-r" type="button"
                              @click="unselectCountry">
                              <i class="far fa-trash-alt fa-2x text-red-500"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>

            <div class="mt-10 sm:mt-0">
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Información Adicional</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Información adicional del lugar
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="mt-6">
                        <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
                          Descripción del Lugar
                        </label>
                        <div class="rounded-md shadow-sm">
                          <div class="mt-4">
                            <mc-wysiwyg v-model="place.description" :hide="hide" :height="100"></mc-wysiwyg>
                          </div>
                        </div>
                      </div>
                      <div class="mt-6">
                        <label class="block text-sm leading-5 font-medium text-gray-700">
                          Imagen (Vista Previa)
                        </label>
                        <div class="mt-2 flex items-center">
                          <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100"
                            v-if="place.photo_url">
                            <img :src="place.thumbnail_url" class="h-12 w-12">
                          </span>
                          <span class="ml-5 rounded-md shadow-sm">
                            <div>
                              <label for="file"
                                class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                                Añadir Imagen
                              </label>
                              <input type="file" id="file" ref="file"
                                class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out hidden"
                                @change="onFileChange" />
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="mt-8">
              <hr class="border-gray-300">
              <div class="mt-8 text-right">
                <button type="submit"
                  class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-main-500 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out">
                  ¡Enviar Lugar!
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import {
    McWysiwyg
  } from '@mycure/vue-wysiwyg';
  import {
    serverBus
  } from '../../../main';
  import AdminSearchPlaces from './components/AdminSearchPlaces.vue';

  export default {
    name: 'AdminAddPlace',
    data() {
      return {
        place: {
          country: {
            name: ''
          }
        },
        suggestions: [],
        hide: {
          strikethrough: true,
          heading: true,
          alignLeft: true,
          alignCenter: true,
          alignRight: true,
          ol: true,
          ul: true,
          url: true,
          table: true,
          indent: true,
          outdent: true,
        },
        validationSuccess: false,
        validationError: false,
      }
    },
    methods: {
      onFileChange() {
        const file = this.$refs.file.files[0];
        this.place.photo_url = URL.createObjectURL(file);
        this.place.new_photo = file;
      },
      unselectCountry() {
        this.place.parent_country = null;
        this.place.country = null;
      },
      validateForm() {
        this.validationError = false
        this.validationSuccess = false

        this.$store.dispatch('addPlace', {
            place: this.place,
            image: this.place.new_photo
          })
          .then(() => {
            this.validationSuccess = true;
          })
          .catch(() => {
            this.validationError = true;
          })
      }
    },
    components: {
      McWysiwyg,
      AdminSearchPlaces
    },
    created() {
      serverBus.$on('countrySelected', (place) => {
        this.place.parent_country = place.id;
        this.place.country = place;
      });
    },
  }
</script>

<style>

</style>