<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-semibold text-gray-900 font-nunito font-bold md:text-center text-left">Lugares más deseados por los usuarios</h1>
        <div class="flex justify-center">
            <p class="max-w-4xl">Listado de lugares con más likes realizado por los usuarios.
            </p>
        </div>
        
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div>
          <div class="mt-8">
            <!-- Items Loop -->
            <transition-group name="fadeUp" tag="ul" class="list-group">
            <div v-for="(poi) in pois" :key="poi.url">
              <div>
                <div class="py-6 rounded-lg">
                  
                        <admin-liked-poi :poi="poi"></admin-liked-poi>
                  
                </div>
              </div>
            </div>
            </transition-group>
            <!-- End Items Loop -->
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
    import AdminLikedPoi from './AdminLikedPoi.vue';

    export default {
        name: 'AdminLikedPois',
        data() {
            return {
                pois: []
            }
        },
        methods: {},
        created() {
            this.$store.dispatch('getMostLikedPois')
                .then(response => {
                    this.pois = response.data.data
                })
        },
        components: {
            AdminLikedPoi
        }
    }
</script>