<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">Gestionar Puntos de Interés</h1>
        <div class="flex justify-center">
          <p class="max-w-4xl">Aqui podrá gestionar los lugares de la plataforma.
          </p>
        </div>
        <div class="text-center row">
          <div v-if="validationSuccess" class="text-green-500 font-semibold">Lugar eliminado correctamente!</div>
          <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido procesar su solicitud
          </div>
        </div>
      </div>
      <div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 text-left">
        <!-- Replace with your content -->
        <div>
          <form action="" method="POST" @submit.prevent="validateForm">
            <div>
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Buscar Puntos de Interés</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Mostraremos los resultados de tu búsqueda en la tabla situada al final de la página
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-12 sm:col-span-12">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Busca un punto de interés</label>
                          <admin-search-all-pois></admin-search-all-pois>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Nombre
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  URL
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Imagen
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Editar
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Eliminar
                </th>
              </tr>
            </thead>
            <tbody class="bg-white break-words">
              <tr
                v-for="poi in pois" :key="poi.id">
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ poi.name }} <span v-if="poi.country" class="text-sm text-orange-300">({{ poi.country.name }})</span>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ poi.url }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <img :src="poi.thumbnail_url" class="w-12 h-12" alt="No image">
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <router-link :to="{ name: 'admin.editPoi', params: { poi_id: poi.id }}" >
                      <button
                        class="bg-orange-400 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded-full">
                      Editar
                    </button>
                  </router-link>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <button
                     class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
                     @click="deletePoi(poi)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import { serverBus } from '../../../main';
  import AdminSearchAllPois from './components/AdminSearchAllPois.vue';

  export default {
    name: 'AdminManagePois',
    data() {
      return {
        pois: [],
        validationSuccess: false,
        validationError: false,
      }
    },
    methods: {
      deletePoi(poi) {
        if(confirm("Cuidado! No podrá deshacer los cambios. ¿Desea eliminar este Lugar?")){
            this.$store.dispatch('deletePoi', poi)
            .then(() => {
                this.validationSuccess = true
            })
            .catch(() => {
              this.validationError = true
            })
        }
      }
    },
    components: {
      AdminSearchAllPois
    },
    created() {
      serverBus.$on('poiSelected', (poi) => {
        this.pois = poi;
      });
    },
  }
</script>

<style>

</style>