<template>
  <div>
      <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6" tabindex="0">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>
          </div>
          <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
              <!-- Replace with your content -->
              <div class="py-4">
                  <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
                      <p>Admin Panel</p>
                  </div>
              </div>
              <!-- /End replace -->
          </div>
      </main>
  </div>
</template>

<script>
export default {

}
</script>