<template>
    <div class="flex">
        <div class="md:flex mx-4 my-2 p-2 rounded-lg overflow-hidden shadow-lg bg-white fade-enter-active w-full">
            <div class="md:w-3/12 lg:w-2/12 w-full">
                <img class="h-16 w-16 md:h-24 md:w-24 rounded-lg mx-auto md:mx-0 md:mr-6" :src="poi.thumbnail_url">
            </div>
            <div class="md:w-4/12 lg:w-5/12 w-full md:mt-6">
                <div class="w-full inline-block">
                    <div>
                        <router-link :to="{ path: '/poi/' + poi.url }">
                            <h2 class="text-xl md:text-2xl sm:text-center md:text-left font-semibold mx-4">
                                {{ poi.name }}</h2>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="md:w-5/12 lg:w-5/12 w-full md:mt-6">
                <div class="w-full inline-block break-words">
                    <h2 class="sm:text-center md:text-left font-semibold mx-4">Me gusta totales: {{ poi.total }}</h2>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['poi'],
        name: 'AdminLikedPoi',
    }
</script>

<style scoped>
@media (max-width: 1024px) {
  .hideOnMobiles {
    display: none;
    }
}
</style>