<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-semibold text-gray-900 font-nunito font-bold md:text-center text-left">Administrar Reseñas</h1>
        <div class="flex justify-center">
            <p class="max-w-4xl">Listado de reseñas. Puede aprobar o rechazar las reseñas. En este panel
                únicamente aparecen las reseñas pendientes
            </p>
        </div>
        
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div>
          <div class="mt-8">
            <!-- Items Loop -->
            <transition-group name="fadeUp" tag="ul" class="list-group">
            <div v-for="(review) in reviews" :key="review.id">
              <div>
                <div class="py-6 rounded-lg">
                  
                        <admin-review :review="review"></admin-review>
                  
                </div>
              </div>
            </div>
            </transition-group>
            <!-- End Items Loop -->
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
    import AdminReview from './AdminReview.vue';

    export default {
        name: 'AdminReviews',
        data() {
            return {
                reviews: []
            }
        },
        methods: {},
        created() {
            this.$store.dispatch('getPendingReviews')
                .then(response => {
                    this.reviews = response.data
                })
        },
        components: {
            AdminReview
        }
    }
</script>