<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">Sugerencias</h1>
        <div class="flex justify-center">
          <p class="max-w-4xl">Tienes alguna sugerencia para mejorar la aplicación? Te proporcionamos el contacto
            directo con el staff técnico para que puedas exponer tu opinión a cerca de la aplicación, cualquier mejora,
            ya sea añadir información, un botón que no responde como se espera, etc.
          </p>
        </div>
        <div class="text-center row">
          <div v-if="validationSuccess" class="text-green-500 font-semibold">Sugerencia gestionada correctamente!
            Responderemos lo antes posible</div>
          <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido enviar su solicitud.
          </div>
        </div>
      </div>
      <div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 text-left">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Titulo
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Tipo
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Fecha
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Estado
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Petición
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Respuesta
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Aceptar
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Rechazar
                </th>
              </tr>
            </thead>
            <tbody class="bg-white break-words">
              <tr 
                :class="suggestionBackground(suggestion)"
                v-for="suggestion in suggestions" :key="suggestion.id">
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.title }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.type }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.created_at | moment("L") }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.status }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                 {{ suggestion.description }} 
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <mc-wysiwyg v-model="suggestion.response" :hide="hide" :height="100"></mc-wysiwyg>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <button
                      v-if="suggestion.status == 'Pending'"
                     class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full"
                    @click="acceptSuggestion(suggestion)">
                    Aceptar
                  </button>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
                    v-if="suggestion.status == 'Pending'"
                    @click="denySuggestion(suggestion)">
                    Rechazar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import {
    McWysiwyg
  } from '@mycure/vue-wysiwyg';

  export default {
    name: 'UserSuggestions',
    data() {
      return {
        suggestions: [],
        hide: {
          strikethrough: true,
          heading: true,
          alignLeft: true,
          alignCenter: true,
          alignRight: true,
          ol: true,
          ul: true,
          url: true,
          table: true,
          indent: true,
          outdent: true,
        },
        validationSuccess: false,
        validationError: false,
      }
    },
    methods: {
      acceptSuggestion(suggestion) {
        this.validationError = false
        this.validationSuccess = false

        this.$store.dispatch('acceptSuggestion', suggestion)
          .then(() => {
            this.validationSuccess = true;
          })
          .catch(() => {
            this.validationError = true;
          })
      },
      denySuggestion(suggestion) {
        this.validationError = false
        this.validationSuccess = false

        this.$store.dispatch('denySuggestion', suggestion)
          .then(() => {
            this.validationSuccess = true;
          })
          .catch(() => {
            this.validationError = true;
          })
      },
      suggestionBackground(suggestion) {

          if (suggestion.status == 'Pending') {
            return 'bg-orange-100'
          } else if (suggestion.status == 'Accepted') {
            return 'bg-green-100'
          } else {
            return 'bg-red-100'
          }
      }
    },
    created() {
      this.$store.dispatch('getUserSuggestions')
        .then(response => {
          this.suggestions = response.data.data
        })
    },
    components: {
      McWysiwyg
    }
  }
</script>

<style>

</style>