<template>
  <div class="bg-white p-1 pt-2 px-2 rounded-full"
        @click="like(); isLiked = true">
    <span v-show="isLiked">
        <i class="fa-heart text-red-600 fa-lg fas"></i>
    </span>
    <span v-show="!isLiked">
        <i class="fa-heart text-red-600 fa-lg far"></i>
    </span>
    
  </div>
</template>

<script>
  export default {
    props: ['id'],
    data() {
        return {
            isLiked: false
        }
    },
    name: 'PoiLikeComponent',
    methods: {
      like() {
        this.$store.dispatch('userLikePoi', {
                id: this.id,
            })
            .then(() => {
                this.isLiked = true
            })
            .catch(() => {
            })
      }
    }
  }
</script>