<template>
  <div v-if="filteredPois.length > 0">
    <h2 class="text-4xl font-semibold mt-12 mb-4 ml-8 text-main-500">{{ category.name }}</h2>
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
          <!-- Cards Column -->
          <div v-for="(poi) in filteredPois" :key="poi.id"
            class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 relative">
            <!-- Card -->
            <div class="rounded overflow-hidden shadow-lg bg-white">
              <router-link :to="{ path: '/poi/' + poi.url }">
                <img class="object-cover h-48 w-full" v-bind:src="poi.thumbnail_url" alt="">
              </router-link>
              <div class="absolute top-2 right-6" >
                <poi-like-component
                  v-if="loggedIn"
                  :id="poi.id"></poi-like-component>
              </div>
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">
                  <router-link :to="{ path: '/poi/' + poi.url }">
                    {{ poi.name }}
                  </router-link>
                </div>
                <i class="fa-heart text-red-600 fas"></i> {{ poi.users_count }}
                <i class="far fa-comments"></i> {{ poi.reviews_count }}
                <p class="text-gray-700 text-base">
                  {{ poi.description | limitDescription }}
                </p>
              </div>
              <div class="px-6 py-4">
                <span 
                  v-for="poiCategory in poi.categories" :key="poiCategory.id"
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1"
                  >
                  #{{ poiCategory.name }}
                </span>
              </div>
            </div>
            <!-- END Card -->
          </div>
          <!-- END Cards Column -->

        </div>
    
  </div>
</template>

<script>
  import PoiLikeComponent from './PoiLikeComponent.vue'

  export default {
    props: ['category', 'pois'],
    name: 'PoisByCategory',
    methods: {
      displayImage(poi) {
        return poi.thumbnail_url ?? 'https://via.placeholder.com/150' ; 
      }
    },
    computed: {
      loggedIn() {
        return this.$store.getters.loggedIn
      },
      filteredPois() {
        let filteredData = this.pois;

        filteredData = filteredData.filter(poi => {
          let resultado = false;
          poi.categories.forEach(category => {
              if (this.category.url == category.url) {
                resultado = true;
              }
          });
          return resultado
        })

        return filteredData;
      }
    },
    components: {
        PoiLikeComponent
    },
    filters: {
      limitDescription: function (description) {
        if (!description) return ''
        return description.slice(0, 100) + '...'
      }
    },
  }
</script>