<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0" v-if="travel.id">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div class="md:px-12 py-12">
          <div class="flex">
                  <div class="w-full">
                    <div class="mt-1 flex flex-wrap w-full" v-if="travel.pois.length > 0">
                      <div v-for="poi in travel.pois" :key="poi.url" class="lg:w-1/4 md:w-1/2 w-full p-4 rounded-lg">
                        <div class="bg-gray-300 rounded-lg">
                          <p class="text-center text-gray-900">{{ poi.name }}</p>
                          <router-link :to="{ path: '/poi/' + poi.url }">
                            <img class="object-cover h-24 w-full rounded-lg rounded-t-none" v-bind:src="poi.thumbnail_url" alt="">
                          </router-link>
                        </div>
                      </div>
                    </div>
                    <div v-else>
                        <p class="font-semibold">Lo sentimos, {{ name }} no ha añadido atractivos turísticos a este viaje. 🥺</p>
                    </div>
                  </div>
                </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  export default {
    name: 'UserPublicTravel',
    props: ['travel', 'name'],
  }
</script>

<style scoped>
  @media (max-width: 1024px) {
    .hideOnMobiles {
      display: none;
    }
  }
</style>