<template>
  <div>
    <ol class="list-none p-0 inline-flex font-bold">
      <li class="flex items-center"
          v-if="place.country">
        <a :href="'/place/' + place.country.url" class="rounded border bg-red-400 border-red-600 p-2">{{ place.country.name_local }}</a>
      </li>
      <li class="flex items-center" v-if="place.state">
        <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
        <a :href="'/place/' + place.state.url" class="rounded border bg-red-400 border-red-600 p-2">{{ place.state.name_local }}</a>
      </li>
    </ol>
    <div class="flex justify-center my-4 font-bold">
      <p class="mx-2">Puntos de interés turístico mostrados: {{ poisCount }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['place', 'pois'],
    name: 'PlaceBreacrumbsComponent',
    computed: {
      poisCount() {
        return this.pois.length;
      }
    }
  }
</script>