<template>
  <div>
    <h2 class="text-4xl font-semibold mt-12 mb-4 ml-8 text-main-500">{{ category.name }}</h2>
    <div class="flex flex-wrap">
      <div v-for="poi in filteredPois" :key="poi.url"
          class="w-full sm:w-1/2 lg:w-1/4 h-64 sm:px-4 my-4">
          <div class="xs:m-4 bg-cover bg-center h-full w-full text-white object-fill rounded-lg overflow-hidden flex justify-center items-center"
          :style="{ backgroundImage: `url(${displayImage(poi)})`}">
            <a :href="'/poi/' + poi.url"
                class="text-center logo text-4xl">
              {{ poi.name }}
            </a>
          </div>
       
      </div>
    </div>
    
  </div>
</template>

<script>
  export default {
    props: ['category', 'pois'],
    name: 'PlaceCategoriesPoisComponent',
    data: function() {
      return {
        filteredPois: []
      }
    },
    methods: {
      getPoisFromCategory() {
        this.filteredPois = this.pois.filter(poi => {
          let categories = poi.categories;
          let addPoi = false;
          categories.forEach(category => {
            if(category.url === this.category.url) {
              addPoi = true;
            }
          });

          return addPoi;
        });
      },
      displayImage(poi) {
        return poi.thumbnail_url ?? 'https://via.placeholder.com/150' ; 
      }
    },
    computed: {
    },
    watch: {
      pois: function() {        
        this.getPoisFromCategory();  
      }
    },
  }
</script>