<template>
  <div>
    <h2 class="text-4xl text-left font-semibold mt-12 mb-4 ml-8 text-main-500">Destinos que los viajeros adoran</h2>
    <div class="flex flex-wrap">
      <div v-for="place in places" :key="place.url"
          class="w-full sm:w-1/2 lg:w-1/5 h-64 sm:px-4 my-4">
          <div class="xs:m-4 bg-cover bg-center h-full w-full text-white object-fill rounded-lg overflow-hidden flex justify-center items-center"
          :style="{ backgroundImage: `url(${displayImage(place)})`}">
            <a :href="'/place/' + place.url"
                class="text-center logo text-4xl">
              {{ place.name }}
            </a>
          </div>
       
      </div>
    </div>
    
  </div>
</template>

<script>
  export default {
    props: ['places'],
    name: 'TopLikedCities',
    methods: {
      displayImage(place) {
        return place.thumbnail_url ?? 'https://via.placeholder.com/150' ; 
      }
    },
  }
</script>