<template>
    <div>
        <main v-if="user" class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none h-screen m-0 p-0"
            tabindex="0">
            <div class="bg-blue-200 h-96 w-full" v-if="user.place">
                <user-public-map :latitude="latitude" :longitude="longitude"></user-public-map>
            </div>
            <div class="bg-blue-200 h-96 w-full" v-else>
                <p class="pt-24">Cargando el mapa..</p>
            </div>
            <div class="w-36 mt-8 ml-8">
                <a href="/"
                    class="inline-flex font-semibold justify-center w-full rounded-md border border-transparent px-4 py-2 bg-main-500 text-base leading-6 font-medium text-white shadow-sm hover:bg-main-500 focus:outline-none transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Volver a Nomad Hunting
                </a>
            </div>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                <div class="w-full flex flex-wrap justify-center -mt-20">
                    <img :src="userLogo" class="rounded-full w-48 h-48 object-right z-999 m-2 border-gray-100 border-8">
                </div>
                <div>
                    <div class="mt-4">
                        <p>{{ user.name }} {{ user.lastname }}</p>
                        <p class="font-semibold">@{{ user.username }}</p>
                    </div>
                    <div class="mt-4 break-words">
                        <p v-html="user.description" class="leading-6 text-gray-600"></p>
                    </div>
                </div>
                <div class="mt-8">
                    <h2 class="customTitle text-5xl text-main-500">Viajes de {{ user.name }}</h2>
                    <div class="mt-4" v-if="user.travels">
                        <user-public-travels :travels="user.travels"></user-public-travels>
                    </div>
                    <div v-else>
                        <p>¡No has añadido ningún viaje!</p>
                    </div>
                </div>
                <div v-if="travel" 
                    class="mt-8">
                    <h2 class="text-3xl font-bold text-main-500">Atractivos turísticos visitados en {{ travel.place.name }}</h2>
                    <user-public-travel :travel="travel" :name="user.name"></user-public-travel>
                </div>
            </div>
        </main>

        <main v-if="errorMessage" class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none h-screen m-0 p-0"
            tabindex="0">
            <div v-if="errorMessage">
                <div
                    class="fixed bottom-0 inset-x-0 px-4 pb-6 sm:inset-0 sm:p-0 sm:flex sm:items-center sm:justify-center">
                    <div class="fixed inset-0 transition-opacity">
                        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                    </div>
                    <div class="bg-white rounded-lg px-4 pt-5 pb-4 overflow-hidden shadow-xl transform transition-all sm:max-w-sm sm:w-full sm:p-6"
                        role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                        <div>
                            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
                                <svg class="h-6 w-6 text-red-600" stroke="currentColor" fill="none"
                                    viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>


                            </div>
                            <div class="mt-3 text-center sm:mt-5">
                                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                                    El Usuario no existe
                                </h3>
                                <div class="mt-2">
                                    <p class="text-sm leading-5 text-gray-500">
                                        O tal vez ha marcado su perfil como privado 💔
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 sm:mt-6">
                            <span class="flex w-full rounded-md shadow-sm">
                                <a  href="/"
                                    class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-main-500 text-base leading-6 font-medium text-white shadow-sm hover:bg-main-500 focus:outline-none transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                    Volver a Nomad Hunting
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import { serverBus } from '../../main';
    import UserPublicTravels from './components/UserPublicTravels.vue'
    import UserPublicMap from './components/UserPublicMap.vue'
    import UserPublicTravel from './components/UserPublicTravel'

    export default {
        name: 'UserPublicProfile',
        data() {
            return {
                username: '',
                user: null,
                travel: null,
                errorMessage: '',
            }
        },
        methods: {
            setUsername(username) {
                this.username = username;
            }
        },
        computed: {
            userLogo() {
                return this.user.photo_url ?? 'https://res.cloudinary.com/toniramon/image/upload/v1589888051/mock_person.png'
            },
            latitude() {
                return this.user.place.latitude ?? 0;
            },
            longitude() {
                return this.user.place.longitude ?? 0;
            }
        },
        components: {
            UserPublicTravels,
            UserPublicMap,
            UserPublicTravel
        },
        created() {
            this.setUsername(this.$route.params.username)

            serverBus.$on('selectedTravel', (travel) => {
                this.travel = travel;
            });

            this.$store.dispatch('getPublicProfile', this.username)
                .then(response => {
                    this.user = response.data.data
                })
                .catch(() => {
                    this.user = null;
                    this.errorMessage = 'No existe el usuario.'
                })
        }
    }
</script>