<template>
    <div class="w-full">
        <div class="relative">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div>
                    <input
                    class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out"
                    type="search" id="search" placeholder="Escribe un lugar" @blur="searchResultsVisible = false"
                    @focus="searchResultsVisible = true" @keydown.esc="searchResultsVisible = false" @input="softReset"
                    v-model="query">
                </div>
            </div>

            <transition>
                <div v-if="query.length > 0 && searchResultsVisible"
                    class="relative z-999 normal-case bg-white border left-0 right-0 w-108 text-left rounded-lg shadow overflow-hidden z-10 overflow-y-auto"
                    style="max-height: 32rem">
                    <div v-for="place in searchResults" :key="place.url" class="hover:bg-gray-300 border-b"
                        @mousedown.prevent="searchResultsVisible = true" @mouseup.left="searchResultsVisible = false">
                        <div class="flex px-4 py-2">
                            <div class="md:w-1/12 w-1/5">
                                <div v-if="place.thumbnail_url">
                                    <img :src="place.thumbnail_url" :alt="place.name" height="48" width="48"
                                        class="rounded-full">
                                </div>
                                <div v-else>
                                    no photo
                                </div>
                            </div>
                            <div v-bind:class="{ 'mt-2' : place.thumbnail_url}" class="md:w-11/12 md:ml-4 ml-2 w-4/5"
                                @click="placeSelected(place)">
                                <a
                                    class="mt-8 md:text-xl text-base font-medium cursor-pointer md:p-4 hover:gb-blue-100">
                                    {{ place.name }}
                                </a>
                                <span v-if="place.country" class="show-country"> {{ place.country.name_local }} </span>
                            </div>
                        </div>

                    </div>
                    <div v-if="searchResults.length === 0" class="font-normal w-full border-b cursor-pointer p-4">
                        <p>No hay resultados</p>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import {
        serverBus
    } from '../../../../main';

    export default {
        name: 'AdminSearchAllPlaces',
        data() {
            return {
                query: '',
                places: [],
                searchResults: [],
                searchResultsVisible: false,
            }
        },
        methods: {
            performSearch() {
                this.searchResults = this.places.filter(place => {
                    return place.name.toUpperCase().includes(this.query.toUpperCase());
                });
            },
            softReset() {
                this.searchResultsVisible = true
                //this.highlightedIndex = 0
            },
            placeSelected(place) {
                serverBus.$emit('placeSelected', place);
            }
        },
        watch: {
            query: function () {
                if (this.query.length > 2) {
                    this.$axios.get(`${process.env.VUE_APP_BACKEND_URL}/places/all/${this.query}`)
                        .then(response => {
                            this.places = response.data.data
                        });
                }

            },
            places: function () {
                this.performSearch();
            }
        }
    }
</script>

<style scoped>
    @media (max-width: 769px) {
        .show-country {
            display: none;
        }
    }
</style>