<template>
    <div>
        <label for="name" class="block text-sm font-medium leading-5 text-gray-700">{{ detail.name}},
            {{ detail.type }}</label>
        <input id="name"
            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
            v-model="value" />
    </div>
</template>

<script>
    import {
        serverBus
    } from '../../../../main';

    export default {
        props: ['detail'],
        data() {
            return {
                value: ''
            }
        },
        methods: {
            updateDetail() {
                serverBus.$emit('modifiedPoiDetail', this.detail);
            }
        }
    }
</script>

<style>

</style>