<template>
    <div class="flex flex-col text-left">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div
                class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <table class="min-w-full">
                    <thead>
                        <tr>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Desde
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Días
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Hasta
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Imagen
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Lugar
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                País
                            </th>
                            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white break-words">
                        <tr v-for="travel in travels" :key="travel.id"
                            @click="goToTravel(travel)">
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <span>{{ travel.start_date | moment("LL") }}</span>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                {{ travelDays(travel) }} días
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <span>{{ travel.end_date | moment("LL") }}</span>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <img :src="previewImage(travel)" :alt="travel.place.name"
                                class="w-24 h-16 rounded-lg">
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <span class="font-semibold">{{ travel.place.name }}</span> 
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                {{ travel.place.country.name }}
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                <span
                                    :class="travelBackground(travel)"
                                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
                                    {{ travelStatus(travel) }}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        props: ['travels'],
        methods: {
            goToTravel(travel) {
                this.$router.push({ path: '/dashboard/travels/' + travel.id });
            },
            travelDays(travel) {
                let from = moment(travel.start_date);
                let to = moment(travel.end_date);
                let diff = to.diff(from, 'days');
                return diff;
            },
            previewImage(travel) {
                return travel.place.thumbnail_url ?? 'https://res.cloudinary.com/toniramon/image/upload/v1589888051/mock_person.png';
            },
            travelStatus(travel) {
                let today = moment();
                let from = moment(travel.start_date).subtract(1, 'days');
                let to = moment(travel.end_date).add(1, 'days');

                let isAfter = today.isAfter(to);
                let isBefore = today.isBefore(from);

                if (isAfter) {
                    return '¡Hecho!'
                } else if (isBefore) {
                    return 'Pendiente'
                } else {
                    return 'Viajando'
                }
            },
            travelBackground(travel) {
                let today = moment();
                let from = moment(travel.start_date).subtract(1, 'days');
                let to = moment(travel.end_date).add(1, 'days');

                let isAfter = today.isAfter(to);
                let isBefore = today.isBefore(from);

                if (isAfter) {
                    return 'bg-green-100 text-green-800'
                } else if (isBefore) {
                    return 'bg-red-100 text-red-800'
                } else {
                    return 'bg-orange-100 text-orange-800'
                }
            }
        }
    }
</script>