<template>
    <div class="flex" v-if="!deleted">
        <div class="md:flex mx-4 my-2 p-2 rounded-lg overflow-hidden shadow-lg bg-white fade-enter-active w-10/12">
            <div class="md:w-3/12 lg:w-2/12 w-full">
                <img class="h-16 w-16 md:h-24 md:w-24 rounded-lg mx-auto md:mx-0 md:mr-6" :src="travel.place.thumbnail_url">
            </div>
            <div class="md:w-9/12 lg:w-10/12 w-full md:mt-6">
                <div class="lg:w-5/12 w-full inline-block">
                    <div>
                        <router-link :to="{ path: './travels/' + travel.id }">
                            <h2 class="text-xl md:text-xl sm:text-center md:text-left font-semibold mx-4">
                                {{ travel.place.name }}</h2>
                        </router-link>
                    </div>
                </div>
                <div class="lg:w-5/12 hideOnMobiles inline-block">
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                            {{ travel.start_date }}
                    </span>
                    -
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                            {{ travel.end_date }}
                    </span>
                </div>
            </div>
        </div>
        <div class="w-2/12 pt-6 mr-4">
            <div class="bg-red-100 rounded-full py-2" 
                @click="deleteTravel">
                <i class="far fa-trash-alt fa-3x text-red-500"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['travel'],
        data() {
            return {
                deleted: false
            }
        },
        methods: {
            deleteTravel() {
                if(confirm("Si eliminas este viaje no podrás volver atrás, ¿deseas eliminarlo?")){
                    this.$store.dispatch('deleteTravel', this.travel.id)
                    .then(() => {
                        this.deleted = true
                    })
                }
            }
        }
    }
</script>

<style scoped>
@media (max-width: 1024px) {
  .hideOnMobiles {
    display: none;
    }
}
</style>