<template>
    <div class="flex" v-if="!deleted">
        <div class="md:flex mx-4 my-2 p-2 rounded-lg overflow-hidden shadow-lg bg-white fade-enter-active w-10/12"
            :class="{ 'bg-orange-200': review.status == 'pending',
                      'bg-red-200': review.status == 'denied',
                      'bg-green-200': review.status == 'approved'  
                    }">
            <div class="md:w-3/12 lg:w-2/12 w-full">
                <img class="h-16 w-16 md:h-24 md:w-24 rounded-lg mx-auto md:mx-0 md:mr-6" :src="review.media[0].url">
            </div>
            <div class="md:w-4/12 lg:w-5/12 w-full md:mt-6">
                <div class="w-full inline-block">
                    <div>
                        <router-link :to="{ path: '/poi/' + review.poi.url }">
                            <h2 class="text-xl md:text-2xl sm:text-center md:text-left font-semibold mx-4">
                                {{ review.poi.name }}</h2>
                        </router-link>
                        <h2 class="sm:text-center md:text-left font-semibold mx-4">Tu valoración: {{ review.rating }} / 5 </h2>
                    </div>
                </div>
            </div>
            <div class="md:w-5/12 lg:w-5/12 w-full md:mt-6">
                <div class="w-full inline-block break-words">
                    <div v-html="review.description"></div>
                </div>
            </div>
        </div>
        <div class="w-2/12 pt-6 mr-4">
            <div class="bg-red-100 rounded-full py-2" 
                @click="deleteReview">
                <i class="far fa-trash-alt fa-3x text-red-500"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['review'],
        name: 'UserReview',
        data() {
            return {
                deleted: false
            }
        },
        methods: {
            deleteReview() {
                if(confirm("Se eliminará la reseña y las imagenes, ¿deseas eliminarla?")){
                    this.$store.dispatch('deleteReview', this.review.id)
                    .then(() => {
                        this.deleted = true
                    })
                }
            }
        }
    }
</script>

<style scoped>
@media (max-width: 1024px) {
  .hideOnMobiles {
    display: none;
    }
}
</style>