/* @font-face {
    font-family: ultraFresh;
    src: url(../fonts/ultrafresh.ttf);
} */

@font-face{ 
	font-family: 'ultraFresh';
	src: url('../fonts/ultra_fresh-webfont.eot');
	src: url('../fonts/ultra_fresh-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ultra_fresh-webfont.woff') format('woff'),
	     url('../fonts/ultrafresh.ttf') format('truetype'),
	     url('../fonts/ultra_fresh-webfont.svg#webfont') format('svg');
}



.logo, .customTitle {
    font-family: ultraFresh, 'Nunito', sans-serif;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#menu-toggle:checked+#menu {
    display: block;
}

button:focus {
    outline: none;
}

.h-20-rem {
    height: 20rem;
}

.h-40-rem {
    height: 40rem;
}

h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.text-10xl {
    font-size: 6rem;
}

.text-12xl {
    font-size: 8rem;
}

.z-999 {
    z-index: 999;
}