<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">¡Encuentra Usuarios!</h1>
        <div class="flex justify-center">
          <p class="max-w-4xl"><strong>¿Eres un stalker?</strong><br>
            Te mostramos los usuarios para que puedas ver dónde han viajado y que lugares han visitado <br> 
            en cada viaje para que tomes apuntes! 📝
          </p>
        </div>
      </div>
      <div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 text-left">
        <!-- Replace with your content -->
        <div>
          <form action="" method="POST" @submit.prevent="validateForm">
            <div>
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Buscar por Lugar 🌍</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Mostraremos los resultados de tu búsqueda en la tabla situada al final de la página
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-12 sm:col-span-12">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Busca un lugar</label>
                          <search-users-by-place></search-users-by-place>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>
            <div>
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Buscar por Username ✏️</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Mostraremos los resultados de tu búsqueda en la tabla situada al final de la página
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-12 sm:col-span-12">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Busca por nombre de usuario</label>
                          <search-users-by-username></search-users-by-username>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Foto
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Nombre
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Username
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Lugar
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Visitar Perfil
                </th>
              </tr>
            </thead>
            <tbody class="bg-white break-words">
              <tr
                v-for="user in users" :key="user.id">
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <img :src="user.photo_url" class="w-12 h-12 rounded-full" alt="No image">
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    {{ user.name }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    {{ user.username }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    {{ userPlace(user) }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <router-link :to="{ name: 'public.user', params: { username: user.username }}" >
                      <button
                        class="bg-green-400 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded-full">
                      ¡Visitar!
                    </button>
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import { serverBus } from '../../../main';
  import SearchUsersByPlace from './userComponents/SearchUsersByPlace.vue';
  import SearchUsersByUsername from './userComponents/SearchUsersByUsername.vue';

  export default {
    name: 'SearchUsers',
    data() {
      return {
        users: [],
      }
    },
    methods: {
        userPlace(user) {
            if (user.place) {
                return user.place.name
            } else {
                return null
            }
        }
    },
    components: {
      SearchUsersByPlace,
      SearchUsersByUsername
    },
    created() {
      serverBus.$on('foundUsers', (users) => {
        this.users = users;
      });
    },
  }
</script>

<style>

</style>