<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-semibold text-gray-900 font-nunito font-bold md:text-center text-left">Lugares que me han gustado</h1>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div>
          <div>
            <!-- Items Loop -->
            <div v-for="(place, index) in places" :key="place.id">
              <div class="mt-6">
                <h2 class="logo text-6xl text-main-500">
                  {{ place.name }}
                </h2>
                <div class="py-6 rounded-lg" :class="{ 'bg-gray-100': index % 2 == 0, 'bg-gray-200': index % 2 != 0 }">
                  <transition-group name="fadeUp" tag="ul" class="list-group">
                    <div v-for="poi in place.pois" :key="poi.id">
                        <user-poi-component :poi="poi"></user-poi-component>
                    </div>
                  </transition-group>
                </div>
              </div>
            </div>
            <!-- End Items Loop -->
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import UserPoiComponent from './userComponents/UserPoi.vue';

  export default {
    data() {
      return {
        places: []
      }
    },
    created() {
      this.$store.dispatch('getLikedPois')
        .then(response => {
          this.places = response.data.data
        })
    },
    components: {
      UserPoiComponent
    }
  }
</script>

<style scoped>
@media (max-width: 1024px) {
  .hideOnMobiles {
    display: none;
    }
}
</style>