<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">Sugerencias</h1>
        <div class="flex justify-center">
          <p class="max-w-4xl">Tienes alguna sugerencia para mejorar la aplicación? Te proporcionamos el contacto
            directo con el staff técnico para que puedas exponer tu opinión a cerca de la aplicación, cualquier mejora,
            ya sea añadir información, un botón que no responde como se espera, etc.
          </p>
        </div>
        <div class="text-center row">
          <div v-if="validationSuccess" class="text-green-500 font-semibold">Sugerencia enviada correctamente!
            Responderemos lo antes posible</div>
          <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido enviar su solicitud.
          </div>
        </div>
      </div>
      <div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 text-left">
        <!-- Replace with your content -->
        <div>
          <form action="" method="POST" @submit.prevent="validateForm">
            <div>
              <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                  <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Nueva Sugerencia</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Coméntamos tu sugerencia, el staff técnico responderá lo antes posible
                    </p>
                  </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                  <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-12 sm:col-span-12">
                          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Titulo</label>
                          <input id="name"
                            class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                            v-model="suggestion.title" />
                        </div>
                        <div class="col-span-12 sm:col-span-12">
                          <label for="email_address" class="block text-sm font-medium leading-5 text-gray-700">Tipo de
                            Sugerencia</label>
                          <div class="mt-1 sm:mt-0 sm:col-span-2">
                            <div class="max-w-xs rounded-md shadow-sm">
                              <select id="type" v-model="suggestion.type"
                                class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                <option>Punto de Interés</option>
                                <option>Lugar</option>
                                <option>Otros</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-span-12">
                          <div class="mt-6">
                            <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
                              Descripción
                            </label>
                            <div class="rounded-md shadow-sm">
                              <div class="mt-4">
                                <mc-wysiwyg v-model="suggestion.description" :hide="hide" :height="100"></mc-wysiwyg>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-span-12">
                          <div class="mt-8 text-right">
                            <button type="submit"
                              class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-main-500 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out">
                              Enviar Sugerencia
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden sm:block">
              <div class="py-5">
                <div class="border-t border-gray-200"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Titulo
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Tipo
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Fecha
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Estado
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Petición
                </th>
                <th
                  class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Respuesta
                </th>
              </tr>
            </thead>
            <tbody class="bg-white break-words">
              <tr
                :class="suggestionBackground(suggestion)" 
                v-for="suggestion in suggestions" :key="suggestion.id">
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.title }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.type }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.created_at | moment("L")  }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.status }}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                 {{ suggestion.description }} 
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  {{ suggestion.response }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import {
    McWysiwyg
  } from '@mycure/vue-wysiwyg';

  export default {
    name: 'UserSuggestions',
    data() {
      return {
        suggestion: {},
        suggestions: [],
        hide: {
          strikethrough: true,
          heading: true,
          alignLeft: true,
          alignCenter: true,
          alignRight: true,
          ol: true,
          ul: true,
          url: true,
          table: true,
          indent: true,
          outdent: true,
        },
        validationSuccess: false,
        validationError: false,
      }
    },
    methods: {
      validateForm() {
        this.validationError = false
        this.validationSuccess = false

        this.$store.dispatch('newSuggestion', this.suggestion)
          .then(() => {
            this.validationSuccess = true;
          })
          .catch(() => {
            this.validationError = true;
          })
      },
      suggestionBackground(suggestion) {

          if (suggestion.status == 'Pending') {
            return 'bg-orange-100'
          } else if (suggestion.status == 'Accepted') {
            return 'bg-green-100'
          } else {
            return 'bg-red-100'
          }
      }
    },
    created() {
      this.$store.dispatch('getUserSuggestions')
        .then(response => {
          this.suggestions = response.data.data
        })
    },
    components: {
      McWysiwyg
    }
  }
</script>

<style>

</style>