<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">Nueva Reseña: <span class="font-bold">{{ poi.name }}</span>
        </h1>
        <div class="text-center">
            <div v-if="validationSuccess" class="text-green-500 font-semibold">Reseña insertada correctamente!</div>
            <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido insertar la reseña</div>
        </div>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 mt-24 md:px-8 text-left">
        <!-- Replace with your content -->
        <div>
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Reseña</h3>
                <p class="mt-1 text-sm leading-5 text-gray-600">
                  Antes de ser publicada, será evaluada por el equipo técnico.
                </p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
              <form action="#" method="POST"
                @submit.prevent="validateForm()">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                  <div class="px-4 py-5 bg-white sm:p-6">

                    <div class="w-full">
                      <label for="company_website" class="block text-sm font-medium leading-5 text-gray-700">
                          Escriba su opinión
                        </label>
                        <div class="mt-4">
                          <mc-wysiwyg v-model="description" :hide="hide" :height="100"></mc-wysiwyg>
                        </div>
                    </div>

                    <div class="mt-6">
                      <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
                        Foto
                      </label>
                      <div class="rounded-md shadow-sm">
                        <input type="file" id="file" ref="file" v-on:change="onChangeFileUpload()"/>
                      </div>
                    </div>

                    <div class="mt-6 h-32">
                      <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
                        Valoración
                      </label>
                      <div class="rounded-md shadow-sm">
                        <emoji-rating></emoji-rating>
                      </div>
                    </div>

                  </div>
                  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <span class="inline-flex rounded-md shadow-sm">
                      <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-main-500 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out">
                        ¡Enviar Reseña!
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import EmojiRating from './userComponents/EmojiRating'
  import { serverBus } from '../../../main';
  import { McWysiwyg } from '@mycure/vue-wysiwyg';

  export default {
    name: 'UserVisitedPois',
    data() {
      return {
        poi: [],
        rating: 4,
        file: '',
        description: '',
        hide: {
          strikethrough: true,
          heading: true,
          alignLeft: true,
          alignCenter: true,
          alignRight: true,
          ol: true,
          ul: true,
          url: true,
          table: true,
          indent: true,
          outdent: true,
        },
        validationSuccess: false,
        validationError: false,
      }
    },
    methods: {
      getPoi(url) {
        this.$axios
          .get(`${process.env.VUE_APP_BACKEND_URL}/pois/${url}`)
          .then(res => {
            this.poi = res.data;
          })
      },
      onChangeFileUpload(){
        this.file = this.$refs.file.files[0];
      },
      validateForm() {
        this.validationError = false
        this.validationSuccess = false
        
        this.$store.dispatch('addReview', {
            description: this.description,
            image: this.file,
            rating: this.rating,
            poi_id: this.poi.id,
            place_id: this.poi.place.id
        })
        .then(() => {
          this.validationSuccess = true;
        })
        .catch(() => {
            this.validationError = true;
        })
      }
    },
    created() {
      serverBus.$on('selectedRating', (rating) => {
          this.rating = rating;
      });
      this.getPoi(this.$route.params.poi_url);
    },
    components: {
      EmojiRating,
      McWysiwyg
    }
  }
</script>

<style scoped>
.upload-image {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
</style>