<template>
    <div class="text-left font-sans">
        <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="text-4xl text-gray-900 font-nunito font-bold md:text-center text-left">
                    Añadir un viaje
                </h1>
                <div class="text-center">
                    <div v-if="validationsuccess" class="text-green-500 font-semibold">Viaje insertado correctamente!</div>
                    <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido insertar el viaje</div>
                    <div v-if="errors.length > 0">
                        <p>Por favor, revise los siguientes errores:</p>
                        <ul>
                            <li v-for="error in errors" :key="error"
                                class="text-red-500">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                <!-- Replace with your content -->
                <div class="md:px-12 py-12">
                    <form method="POST" @submit.prevent="validateForm()">
                        <div>
                            <div>
                                <div class="lg:relative lg:flex lg:h-80">
                                    <div class="lg:w-1/2 w-full lg:relative">
                                        <div class="">
                                            <div
                                                class="lg:absolute inset-0 flex items-center justify-center inline-block row">
                                                <h3 class="text-lg leading-6 font-semibold text-gray-900">Seleccione las
                                                    fechas de su viaje</h3>
                                            </div>
                                            <div class="lg:absolute inset-x-0 inset-y-48 flex items-center justify-center inline-block row mt-4">
                                                <div class="text-red-500" v-if="$v.dateFrom.invalid">Error!!</div>
                                                <div class="text-red-500" v-if="$v.dateTo.invalid">Error 222!!</div>
                                                <div class="p-2">
                                                    Desde <input 
                                                            type="text" 
                                                            name="dateFrom" 
                                                            class="form-input bg-cool-gray-200"
                                                            v-model="dateFrom" 
                                                            @input="$v.dateFrom.$touch()"
                                                            disabled>
                                                </div>
                                                <div class="p-2">
                                                    Hasta <input 
                                                            type="text" 
                                                            name="dateTo" 
                                                            class="form-input bg-cool-gray-200"
                                                            v-model="dateTo" 
                                                            @input="$v.dateTo.$touch()"
                                                            disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lg:w-1/2 w-full pt-4 px-4">
                                        <functional-calendar :is-date-range='true' :min-sel-days='0' :max-sel-days='99'
                                            v-model="calendarData">
                                        </functional-calendar>
                                    </div>
                                </div>
                                <div class="mt-8 pt-8 border-t border-gray-200">
                                    <div class="w-full row mb-6">
                                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                                            Lugar visitado
                                        </h3>
                                        <p class="mt-1 text-sm leading-5 text-gray-500">
                                            Indique a continuación el lugar visitado
                                        </p>
                                    </div>
                                    <div class="lg:flex">
                                        <div class="lg:w-1/2 w-full pr-12 mb-8 lg:mb-0">
                                            <label for="lugar"
                                                class="block text-sm font-medium leading-5 text-gray-700">
                                                ¿Qué lugar ha visitado?
                                            </label>
                                            <div class="mt-1 flex rounded-md shadow-sm">
                                                <search-places></search-places>
                                            </div>
                                        </div>
                                        <div class="lg:w-1/2 w-full">
                                            <label for="lugar"
                                                class="block text-sm font-medium leading-5 text-gray-700">
                                                Lugar seleccionado
                                            </label>
                                            <div class="mt-1 flex shadow-sm">
                                                <input id="lugar"
                                                    class="flex-1 form-input rounded-none rounded-l block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 bg-cool-gray-200"
                                                    :value="placeSelected.name"
                                                    disabled />
                                                <button class="flex-shrink-0 bg-red-100 py-1 px-2 rounded-r"
                                                    type="button"
                                                    @click="unselectPlace">
                                                    <i class="far fa-trash-alt fa-2x text-red-500"></i>
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-8 border-t border-gray-200 pt-8">
                                <div class="w-full row mb-6">
                                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                                        Lugares de interés cultural visitados <span v-if="placeSelected.name"> en {{ placeSelected.name }}</span>
                                    </h3>
                                    <p class="mt-1 text-sm leading-5 text-gray-500">
                                        Añade a tu viaje los sitios que has visitado, ya sean bares, pubs, monumentos,
                                        lugares emblemáticos..
                                    </p>
                                </div>
                                <div class="flex">
                                    <div class="lg:w-1/2 w-full lg:pr-12 mb-8 lg:mb-0">
                                        <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                                            Sitios visitados <span v-if="!placeSelected.name" class="text-main-500 font-semibold">* Seleccione primero un lugar</span>
                                        </label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            <search-pois 
                                                v-if="placeSelected.name"
                                                :placeUrl="placeSelected.url"></search-pois>
                                            <div v-else
                                                class="relative w-full">
                                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                                    <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                                                        <path fill-rule="evenodd"
                                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                                <input
                                                class="block w-full pl-10 pr-3 py-2 border border-gray-400 rounded-md leading-5 bg-gray-300 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out"
                                                type="search" placeholder="Escribe un lugar" 
                                                disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex lg:mt-8">
                                    <div class="w-full">
                                        <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                                            Lugares visitados
                                        </label>
                                        <div class="mt-1 flex flex-wrap w-full"
                                            v-if="poisSelected.length > 0">
                                            <div v-for="(poi, index) in poisSelected" :key="poi.url" class="lg:w-1/4 md:w-1/2 w-full p-4">
                                                <div class="bg-gray-300 rounded-lg">
                                                    <p class="text-center text-gray-900">{{ poi.name }}</p>
                                                    <img class="object-cover h-24 w-full" v-bind:src="poi.thumbnail_url" alt="">
                                                    <p class="bg-red-200 rounded-b-lg text-red-500 text-center text-lg"
                                                        @click="detachPoi(index)">Eliminar</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 border-t border-gray-200 pt-5">
                            <div class="flex justify-end">
                                <span class="inline-flex rounded-md shadow-sm">
                                    <button type="button"
                                        class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out"
                                        @click="resetform()">
                                        Cancelar
                                    </button>
                                </span>
                                <span class="ml-3 inline-flex rounded-md shadow-sm">
                                    <button type="submit"
                                        class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-main-500 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition duration-150 ease-in-out">
                                        Añadir Viaje
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>
</template>

<script>
    import SearchPlaces from './userComponents/SearchPlaces.vue'
    import SearchPois from './userComponents/SearchPois.vue'
    import { serverBus } from '../../../main';
    import {
        FunctionalCalendar
    } from 'vue-functional-calendar';
    import { required } from 'vuelidate/lib/validators' 

    export default {
        name: 'UserNewTravel',
        data() {
            return {
                calendarData: {},
                placeSelected: [],
                poisSelected: [],
                dateFrom: '',
                dateTo: '',
                errors: [],
                validationsuccess: false,
                validationError: false,

            }
        },
        methods: {
            unselectPlace() {
                this.placeSelected = []
                this.poisSelected = []
            },
            detachPoi(index) {
                this.poisSelected.splice(index, 1)
            },
            resetform() {
                this.calendarData = {}
                this.placeSelected = []
                this.poisSelected = []
                this.dateFrom = ''
                this.dateTo = ''
                this.errors = []
            },
            validateForm() {
                this.errors = [];
                let validatedForm = true;
                this.validationError = false
                this.validationsuccess = false

                if (this.dateFrom == '' || this.dateTo == '') {
                   this.errors.push('Fechas incorrectas')
                   validatedForm = false
                }

                if (!this.placeSelected.name) {
                    this.errors.push('Indique el lugar del viaje')
                    validatedForm = false
                }

                if (validatedForm) {
                    this.submit()
                }
            },
            submit() {
                this.validationError = false
                this.validationsuccess = false

                this.$store.dispatch('addTravel', {
                    dateFrom: this.dateFrom,
                    dateTo: this.dateTo,
                    place: this.placeSelected.id,
                    pois: this.poisSelected.map(poi => poi.id)
                })
                .then(() => {
                    this.resetform()
                    this.validationsuccess = true;
                })
                .catch(() => {
                    this.validationError = true;
                })
            }
        },
        validations: {
            dateFrom: {
                required, 
            },
            dateTo: {
                required,
            }
        },
        components: {
            FunctionalCalendar,
            SearchPlaces,
            SearchPois
        },
        created() {
            serverBus.$on('placeSelected', (placeSelected) => {
                this.placeSelected = placeSelected;
            });
            serverBus.$on('poisSelected', (poiSelected) => {
                this.poisSelected.push(poiSelected);
            });
        },
        watch: {
            calendarData: {
                handler() {
                    if (this.calendarData.dateRange) {
                        this.dateFrom = this.calendarData.dateRange.start.date ?? '';
                        this.dateTo = (this.calendarData.dateRange.end.date == false ? '' : this.calendarData.dateRange.end.date) ?? '';
                    }
                },
                deep: true
            }
        }
    }
</script>

<style>

</style>