<template>
  <div v-if="user">
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl text-gray-900 font-nunito text-center">Mi Perfil</h1>
        <div class="flex justify-center">
          <p class="max-w-4xl">Bienvenido a su área personal! En esta área podrá ver y editar su información personal.
          </p>
        </div>
        <div class="text-center row">
              <div v-if="validationSuccess" class="text-green-500 font-semibold">Perfil editado correctamente!</div>
              <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido editar su perfil</div>
          </div>
      </div>
      <div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 text-left">
        <!-- Replace with your content -->
        <div>
          <form action="" method="POST"
            @submit.prevent="validateForm">
            <div>
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Información Personal</h3>
                <p class="mt-1 text-sm leading-5 text-gray-600">
                  Información personal relacionada con el usuario
                </p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                  <div class="px-4 py-5 bg-white sm:p-6">
                    <div class="grid grid-cols-6 gap-6">
                      <div class="col-span-6 sm:col-span-3">
                        <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Nombre</label>
                        <input id="name"
                          class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                          v-model="user.name" />
                      </div>

                      <div class="col-span-6 sm:col-span-3">
                        <label for="lastname"
                          class="block text-sm font-medium leading-5 text-gray-700">Apellidos</label>
                        <input id="lastname"
                          class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                          v-model="user.lastname" />
                      </div>

                      <div class="col-span-6 sm:col-span-4">
                        <label for="username"
                          class="block text-sm font-medium leading-5 text-gray-700">Alias o Nickname, ¡Debe ser único!</label>
                        <input id="username"
                          class="mt-1 form-input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                          v-model="user.username" />
                      </div>

                      <div class="col-span-6 sm:col-span-4">
                        <label for="email_address"
                          class="block text-sm font-medium leading-5 text-gray-700">Email</label>
                        <input id="email_address"
                          class="mt-1 form-input bg-gray-300 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                          v-model="user.email"
                          disabled />
                      </div>

                      <div class="col-span-6">
                        <div class="lg:flex w-full">
                          <div class="lg:w-1/2 w-full lg:pr-12 mb-8 lg:mb-0">
                            <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                              Indica tu lugar de residencia habitual
                            </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                              <search-places></search-places>
                            </div>
                          </div>
                          <div class="lg:w-1/2 w-full">
                            <label for="lugar" class="block text-sm font-medium leading-5 text-gray-700">
                              Vivo en
                            </label>
                            <div class="mt-1 flex shadow-sm">
                              <input id="lugar"
                                class="flex-1 form-input rounded-none rounded block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 bg-cool-gray-200"
                                v-model="user.place.name"
                                disabled />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-span-6 mt-8">
                        <label class="block text-sm font-medium leading-5 text-left text-gray-700">Fecha de Nacimiento</label>
                        <input type="date" 
                              id="start" 
                              name="trip-start" 
                              class="mt-1 form-input block w-full py-2 md:w-1/3 w-full px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                              v-model="user.birthday"
                              min="1900-01-01" 
                              max="2015-12-31">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="hidden sm:block">
          <div class="py-5">
            <div class="border-t border-gray-200"></div>
          </div>
        </div>

        <div class="mt-10 sm:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Información Adicional</h3>
                <p class="mt-1 text-sm leading-5 text-gray-600">
                  Información adicional del usuario
                </p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="shadow overflow-hidden sm:rounded-md">
                  <div class="px-4 py-5 bg-white sm:p-6">

                    <div class="mt-6">
                      <label for="about" class="block text-sm leading-5 font-medium text-gray-700">
                        Descripción personal
                      </label>
                      <div class="rounded-md shadow-sm">
                        <div class="mt-4">
                          <mc-wysiwyg v-model="user.description" :hide="hide" :height="100"></mc-wysiwyg>
                        </div>
                      </div>
                      <p class="mt-2 text-sm text-gray-500">
                        <strong>Cuéntanos tus planes</strong>, cuál es tu objetivo <strong>en NomadHunting</strong>, tus
                        planes de viaje, etc!
                      </p>
                    </div>

                    <div class="mt-6">
                      <label class="block text-sm leading-5 font-medium text-gray-700">
                        Foto de Perfil
                      </label>
                      <div class="mt-2 flex items-center">
                        <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100" v-if="user.photo_url">
                          <img :src="user.photo_url" class="h-12 w-12">
                        </span>
                        <span v-else>
                          <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                            <path
                              d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                          </svg>
                        </span>
                        <span class="ml-5 rounded-md shadow-sm">
                          <div>
                            <label for="file"
                              class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                              Cambiar
                            </label>
                            <input type="file" id="file" ref="file"
                            class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out hidden" 
                            @change="onFileChange"/>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="hidden sm:block">
          <div class="py-5">
            <div class="border-t border-gray-200"></div>
          </div>
        </div>

        <div class="mt-10 sm:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Privacidad</h3>
                <p class="mt-1 text-sm leading-5 text-gray-600">
                  Decide si tu perfil es <strong>Publico</strong> o <strong>Privado</strong>! Significa que otros
                  usuarios pueden ver (o no) tu perfil.
                  En todo caso, las reseñas que escribas, siempre serán públicas
                </p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="shadow overflow-hidden sm:rounded-md">
                  <div class="px-4 py-5 bg-white sm:p-6">
                    <fieldset>
                      <legend class="text-base leading-6 font-medium text-gray-900">Tipo de Perfil</legend>
                      <div class="mt-4">
                        <div class="flex items-start">
                          <div class="absolute flex items-center h-5">
                            <input id="comments" type="checkbox"
                              class="form-checkbox h-4 w-4 text-main-500 transition duration-150 ease-in-out"
                              v-model="user.is_private"
                              />
                          </div>
                          <div class="pl-7 text-sm leading-5">
                            <label for="comments" class="font-medium text-gray-700">Privado</label>
                            <p class="text-gray-500">Seleccionando este check tendrás un perfil privado.</p>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="mt-8">
          <hr class="border-gray-300">
          <div class="mt-8 text-right">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-main-500 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out">
              ¡Guardar Cambios!
            </button>
          </div>
        </div>
          </form>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import SearchPlaces from './userComponents/SearchPlaces.vue'
  import { McWysiwyg } from '@mycure/vue-wysiwyg';
  import { serverBus } from '../../../main';

  export default {
    
    name: 'UserProfile',
    data() {
      return {
        user: [],
        hide: {
          strikethrough: true,
          heading: true,
          alignLeft: true,
          alignCenter: true,
          alignRight: true,
          ol: true,
          ul: true,
          url: true,
          table: true,
          indent: true,
          outdent: true,
        },
        validationSuccess: false,
        validationError: false,
      }
    },
    methods: {
      onFileChange(){
        const file = this.$refs.file.files[0];
        this.user.original_photo_url = this.user.photo_url;
        this.user.photo_url = URL.createObjectURL(file);
        this.user.new_photo = file;
      },
      validateForm() {
        this.validationError = false
        this.validationSuccess = false
        
        this.$store.dispatch('editUserProfile', {
          user: this.user,
          image: this.user.new_photo
        })
        .then(() => {
          this.validationSuccess = true;
        })
        .catch(() => {
            this.validationError = true;
        })
      }
    },
    created() {
      this.$store.dispatch('getPrivateProfile')
        .then(response => {
          this.user = response.data.data
        })

        serverBus.$on('placeSelected', (placeSelected) => {
            this.user.place_id = placeSelected.id;
            this.user.place.name = placeSelected.name;
        });
    },
    components: {
      SearchPlaces,
      McWysiwyg
    }
  }
</script>

<style>

</style>