<template>
    <div v-if="user">
        <main class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none h-screen m-0 p-0" tabindex="0">
            <div class="bg-blue-200 h-96 w-full"
                v-if="user.place">
                <user-home-map
                    :latitude="latitude"
                    :longitude="longitude">
                </user-home-map>
            </div>
            <div class="bg-blue-200 h-96 w-full"
                v-else>
                <p class="pt-24">Cargando el mapa..</p>
            </div>
            <div v-if="user.username && user.is_private == 0" 
                class="w-36 mt-8 ml-8">
                <a :href="'/@' + user.username"
                    class="inline-flex font-semibold justify-center w-full rounded-md border border-transparent px-4 py-2 bg-main-500 text-base leading-6 font-medium text-white shadow-sm hover:bg-main-500 focus:outline-none transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Ver mi perfil Público
                </a>
            </div>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                <div class="w-full flex flex-wrap justify-center -mt-20">
                    <img :src="userLogo" class="rounded-full w-48 h-48 object-right z-999 m-2 border-gray-100 border-8">
                </div>
                <div>
                    <div class="mt-4">
                        <p>{{ user.name }} {{ user.lastname }}</p>
                        <p class="font-semibold">@{{ user.username }}</p>
                    </div>
                    <div class="mt-4 break-words">
                        <p v-html="user.description" class="leading-6 text-gray-600"></p>
                    </div>
                </div>
                <div class="mt-8">
                    <h2 class="customTitle text-5xl text-main-500">Mis Viajes</h2>
                    <div class="mt-4" v-if="travels.length > 0">
                        <user-home-travels
                            :travels="travels"></user-home-travels>
                    </div>
                    <div v-else>
                        <p>¡No has añadido ningún viaje!</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import UserHomeTravels from './userComponents/UserHomeTravels.vue'
    import UserHomeMap from './userComponents/UserHomeMap.vue'

    export default {
        name: 'UserHome',
        data() {
            return {
                user: [],
                travels: []
            }
        },
        computed: {
            userLogo() {
                return this.user.photo_url ?? 'https://res.cloudinary.com/toniramon/image/upload/v1589888051/mock_person.png'
            },
            latitude() {
                return this.user.place.latitude ?? 0;
            },
            longitude() {
                return this.user.place.longitude ?? 0;
            }
        },
        components: {
            UserHomeTravels,
            UserHomeMap
        },
        created() {
            this.$store.dispatch('getPrivateProfile')
                .then(response => {
                this.user = response.data.data
                })
            
            this.$store.dispatch('getTravels')
                .then(response => {
                this.travels = response.data.data
                })
        }
    }
</script>