<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-semibold text-gray-900 font-nunito font-bold md:text-center text-left">Mis Reseñas</h1>
        <div class="flex justify-center">
            <p class="max-w-4xl">Listado de reseñas realizadas. Puede ver el punto de interés visitado o eliminar
              su reseña si lo desea.
              <br>
              Leyenda de colores: <span class="text-orange-400">Reseña pendiente</span>,
                <span class="text-green-500">Reseña aprobada</span>,
                <span class="text-red-500">Reseña rechazada</span> 
            </p>
        </div>
        
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div>
          <div class="mt-8">
            <!-- Items Loop -->
            <transition-group name="fadeUp" tag="ul" class="list-group">
            <div v-for="(review) in reviews" :key="review.id">
              <div>
                <div class="py-6 rounded-lg">
                  
                        <user-review :review="review"></user-review>
                  
                </div>
              </div>
            </div>
            </transition-group>
            <!-- End Items Loop -->
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
    import UserReview from './userComponents/UserReview.vue';

    export default {
        name: 'UserReviews',
        data() {
            return {
                reviews: []
            }
        },
        methods: {},
        created() {
            this.$store.dispatch('getUserReviews')
                .then(response => {
                    this.reviews = response.data
                })
        },
        components: {
            UserReview
        }
    }
</script>