<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0" v-if="travel.id">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex-col content-center">
          <h1 class="text-4xl text-gray-900 font-nunito font-bold">Mi Viaje a
            {{ travel.place.name }}
          </h1>
            <div v-if="validationsuccess" class="text-green-500 font-semibold">Viaje editado correctamente!</div>
            <div v-if="validationError" class="text-red-500 font-semibold">Error, no se ha podido editar el viaje</div>
        </div>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div class="md:px-12 py-12">
          <form method="POST" @submit.prevent="submit()">
            <div v-if="travel.id">
              <div>
                <div class="lg:relative lg:flex lg:h-24">
                  <div class="w-full lg:relative">
                    <div class="">
                      <div class="lg:absolute inset-0 flex items-center justify-center inline-block row">
                        <h3 class="text-xl leading-6 font-semibold text-gray-900">Fechas del viaje</h3>
                      </div>
                      <div
                        class="lg:absolute inset-x-0 top-12 flex items-center justify-center inline-block row mt-4">
                        <div class="p-2">
                          Desde {{ travel.start_date | moment("L")}}
                        </div>
                        <div class="p-2">
                          Hasta {{ travel.end_date | moment("L") }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-8 border-t border-gray-200 pt-8">
                <div class="w-full row mb-6">
                  <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Lugares de interés cultural visitados <span> en {{ travel.place.name }}</span>
                  </h3>
                  <p class="mt-1 text-sm leading-5 text-gray-500">
                    Añade a tu viaje los sitios que has visitado, ya sean bares, pubs, monumentos,
                    lugares emblemáticos..
                  </p>
                  <div v-if="travel.pois.length == 0">
                    <p class="text-red-500">No ha añadido ningún sitio de interés</p>
                  </div>
                </div>              
                <div class="flex justify-center">
                  <div class="lg:w-1/2 w-full lg:pr-12 mb-8 lg:mb-0">
                    <label for="lugar" class="block text-lg font-medium leading-5 text-gray-700">
                      Sitios visitados
                    </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <search-pois v-if="travel.place.name" :placeUrl="travel.place.url"></search-pois>
                      <div v-else class="relative w-full">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                          <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd" />
                          </svg>
                        </div>
                        <input
                          class="block w-full pl-10 pr-3 py-2 border border-gray-400 rounded-md leading-5 bg-gray-300 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out"
                          type="search" placeholder="Escribe un lugar" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex">
                  <div class="w-full">
                    <div class="mt-1 flex flex-wrap w-full" v-if="travel.pois.length > 0">
                      <div v-for="(poi, index) in travel.pois" :key="poi.url" class="lg:w-1/4 md:w-1/2 w-full p-4">
                        <div class="bg-gray-300 rounded-lg">
                          <p class="text-center text-gray-900">{{ poi.name }}</p>
                          <router-link :to="{ path: '/poi/' + poi.url }">
                            <img class="object-cover h-24 w-full" v-bind:src="poi.thumbnail_url" alt="">
                          </router-link>
                          <p class="bg-red-200 rounded-b-lg text-red-500 text-center text-lg" @click="detachPoi(index)">
                            Eliminar</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-8 border-t border-gray-200 pt-5">
              <div class="flex justify-end">
                <span class="ml-3 inline-flex rounded-md shadow-sm">
                  <button type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-main-500 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition duration-150 ease-in-out">
                    Editar Viaje
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import SearchPois from './userComponents/SearchPois.vue'
  import { serverBus } from '../../../main';

  export default {
    data() {
      return {
        travel: [],
        validationError: false,
        validationsuccess: false
      }
    },
    created() {
      this.getTravel();
      serverBus.$on('poisSelected', (poiSelected) => {
          this.travel.pois.push(poiSelected);
      });
    },
    methods: {
      getTravel() {
        this.$store.dispatch('getTravel', this.$router.history.current.params.pathMatch)
          .then(response => {
            this.travel = response.data.data
          })
      },
      detachPoi(index) {
          this.travel.pois.splice(index, 1)
      },
      submit() {
        this.validationError = false
        this.validationsuccess = false

        this.$store.dispatch('editTravel', {
            travelId: this.travel.id,
            pois: this.travel.pois.map(poi => poi.id)
        })
        .then(() => {
            this.validationsuccess = true;
        })
        .catch(() => {
            this.validationError = true;
        })
      }
    },
    watch: {
      travel: function () {
        this.travel == null ? this.$router.push({name: 'dashboard.index'}) : ''
      }
    },
    components: {
      SearchPois
    }
  }
</script>

<style scoped>
  @media (max-width: 1024px) {
    .hideOnMobiles {
      display: none;
    }
  }
</style>