<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-semibold text-gray-900 font-nunito font-bold md:text-center text-left">Lugares de interés turísticos visitados</h1>
        <div class="flex justify-center">
            <p class="max-w-4xl">Listado de lugares que ha visitado. Si desea añadir una reseña del lugar visitado, por favor seleccione el 
            + que aparece a la derecha de cada sitio visitado</p>
        </div>
        
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div>
          <div class="mt-12">
              <h2 class="text-2xl font-semibold text-gray-900 font-nunito font-bold md:text-center text-left">Añadir una reseña</h2>
            <!-- Items Loop -->
            <div v-for="(travel, index) in travels" :key="travel.id">
              <div>
                <h2 class="logo text-6xl text-main-500">
                  {{ travel.place.name }}
                </h2>
                <div class="py-6 rounded-lg" :class="{ 'bg-gray-100': index % 2 == 0, 'bg-gray-200': index % 2 != 0 }">
                  <transition-group name="fadeUp" tag="ul" class="list-group">
                    <div v-for="poi in travel.pois" :key="poi.id">
                        <user-pois :poi="poi"></user-pois>
                    </div>
                  </transition-group>
                </div>
              </div>
            </div>
            <!-- End Items Loop -->
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
    import UserPois from './userComponents/UserPois.vue';

    export default {
        name: 'UserVisitedPois',
        data() {
            return {
                travels: []
            }
        },
        methods: {},
        created() {
            this.$store.dispatch('getVisitedPois')
                .then(response => {
                    this.travels = response.data.data
                })
        },
        components: {
            UserPois
        }
    }
</script>