<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-semibold text-gray-900 font-nunito font-bold md:text-center text-left">Mis Viajes</h1>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div>
          <div>
            <!-- Items Loop -->
              <div class="mt-6">
                <div class="py-6 rounded-lg">
                  <transition-group name="fadeUp" tag="ul" class="list-group">
                    <div v-for="travel in travels" :key="travel.id">
                        <user-travel :travel="travel"></user-travel>
                    </div>
                  </transition-group>
                </div>
              </div>
            <!-- End Items Loop -->
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>

<script>
  import UserTravel from './userComponents/UserTravel.vue';

  export default {
    data() {
      return {
        travels: []
      }
    },
    created() {
      this.$store.dispatch('getTravels')
        .then(response => {
          this.travels = response.data.data
        })
    },
    components: {
      UserTravel
    }
  }
</script>

<style scoped>
@media (max-width: 1024px) {
  .hideOnMobiles {
    display: none;
    }
}
</style>