<template>
  <div>
    <NavbarComponent />

    <div class="gradient">
      <div class="p-8 mb-12 shadow-inner text-white">
        <div class="flex flex-wrap">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 md:px-8">
          <h2 class="text-5xl font-medium mb-2 font-semibold">Descubre lugares de todo el mundo!</h2>
          <div>
              <search-pois-component></search-pois-component>
          </div>
          <div class="flex flex-wrap mb-4 mt-6 content-center m-auto">
            <div v-for="(category, index) in categories" :key="index" class="pl-2 pr-2 pt-1 pb-1">
              <button class="hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full p-4"
                v-on:click="toggleActiveCategory(category); toogleCategoryFilter(category)"
                :class="category.active ? 'bg-blue-900' : 'bg-blue-500'">
                {{ category.name }}
              </button>
            </div>
          </div>
          <div class="text-left mt-8">
            <button class="hover:bg-cool-gray-800 text-white bg-cool-gray-600 font-bold py-2 px-4 rounded-full p-4 text-left"
              @click="restartFilters()">
                Reiniciar Filtros
              </button>
          </div>
        </div>
      </div>
      </div>
      <svg class="block bottom-0 w-full h-12 text-gray-100" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 100,100 100,0" />
      </svg>
    </div>
    <div class="px-4">
    <div class="container mx-auto px-4 md:px-12">
      <div class="container mx-auto">
        <div v-if="showLikedCities && filteredCategories.length == 0">
          <top-liked-cities :places="places"></top-liked-cities>
        </div>
        <div v-if="filteredCategories.length > 0">
          <div class="text-left xs:p-4 sm:p-12">
          <div v-for="category in filteredCategories" :key="category.url" class="my-4">
            <div v-if="pois">
              <pois-category :category="category" :pois="pois"></pois-category>
            </div>
          </div>
        </div>
        </div>
        <div v-else>
          <div class="text-left xs:p-4 sm:p-12">
          <div v-for="category in categories" :key="category.url">
            <div v-if="pois">
              <pois-category :category="category" :pois="pois"></pois-category>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import NavbarComponent from './NavbarComponent.vue'
  import SearchPoisComponent from './pois/SearchPoisComponent.vue'
  import PoisCategory from './pois/PoisByCategory.vue';
  import TopLikedCities from './places/TopLikedCities.vue';
  import { serverBus } from '../main';

  export default {
    name: 'MainComponent',
    props: {},
    data() {
      return {
        search: '',
        pois: [],
        originalPois: [],
        categories: [],
        filteredCategories: [],
        places: [],
        showLikedCities: true,
      }
    },
    created() {
      this.getPois();
      this.getPlaces();
      this.getCategories();
      serverBus.$on('searchedPois', (pois) => {
          this.pois = pois;
          this.showLikedCities = false;
      });
      serverBus.$on('resetPois', () => {
          this.pois = this.originalPois;
          this.showLikedCities = true;
      });
    },
    methods: {
      getPois() {
        this.$axios
          .get(`${process.env.VUE_APP_BACKEND_URL}/pois`)
          .then(res => {
            this.pois = res.data;
            this.originalPois = res.data;
          })
      },
      getCategories() {
        this.$axios
          .get(`${process.env.VUE_APP_BACKEND_URL}/categories`)
          .then(res => {
            this.categories = res.data;
          })
      },
      getPlaces() {
        this.$axios
          .get(`${process.env.VUE_APP_BACKEND_URL}/places/liked`)
          .then(res => {
            this.places = res.data.data;
          })
      },
      toogleCategoryFilter(category) {       
        if (!this.filteredCategories.includes(category)) {
          this.filteredCategories.push(category);
        } else {
          this.filteredCategories.pop(category);
        }
      },
      toggleActiveCategory: function (category) {
        category.active = !category.active;
      },
      restartFilters() {
        this.pois = this.originalPois;
        this.filteredCategories = [];
        this.categories.forEach(category => category.active = false);
        serverBus.$emit('restartSearchBar');
      }
    },
    computed: {
      loggedIn() {
        return this.$store.getters.loggedIn
      },
    },
    components: {
      NavbarComponent,
      SearchPoisComponent,
      PoisCategory,
      TopLikedCities
    }
  }  
</script>

<style scoped>
  .gradient {
    background: linear-gradient(90deg, #FF5A5F 0%, #FF5890 100%);
  }

@media (max-width: 768px) {
  .placeTitle {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .placeTitle {
    font-size: 6rem;
  }
}
</style>