<template>
  <nav class="bg-white shadow text-left">
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex px-2 lg:px-0">
          <div class="flex-shrink-0 flex items-center">
            <router-link to="/">
              <img class="block lg:hidden h-10 w-auto" src="../assets/images/logo-nomadhunting-128.png" alt="" />
              <img class="hidden lg:block h-10 w-auto" src="../assets/images/logo-nomadhunting-128.png" alt="" />
            </router-link>
          </div>
          <div class="hidden lg:ml-6 lg:flex">
            <a :href="'/'"
              class="inline-flex items-center px-1 pt-1 border-b-2 border-main-500 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-main-500 transition duration-150 ease-in-out">
              Home
            </a>
            <a :href="'/visited-pois'"
              class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
              Lugares Visitados
            </a>
          </div>
        </div>
        <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end w-full">
          <search-component></search-component>
        </div>
        <div class="flex items-center lg:hidden">
          <button
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
            @click="isMobileMenuOn = !isMobileMenuOn">
            <!-- Icon when menu is closed. -->
            <svg :class="{ 'block' : !isMobileMenuOn, 'hidden' : isMobileMenuOn }" class="h-6 w-6" stroke="currentColor"
              fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!-- Icon when menu is open. -->
            <svg :class="{ 'hidden' : !isMobileMenuOn, 'block' : isMobileMenuOn }" class="h-6 w-6" stroke="currentColor"
              fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:ml-4 lg:flex lg:items-center" v-if="loggedIn" @mouseleave="isOn = false"
          @mouseenter="isOn = true">

          <!-- Profile dropdown -->
          <div class="relative flex-shrink-0">
            <div :class="{ 'bg-gray-200': isOn }" class="flex bg-gray-100 rounded-full pr-2">
              <button class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">
                <img v-if="userData" class="h-8 w-8 rounded-full"
                  :src="userLogo"
                  alt="" />
              </button>
              <p class="inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 text-gray-600">
                {{ userName }}
              </p>
            </div>
            <transition name="profile-dropdown" enter-active-class="transition ease-out duration-100"
              enter-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75" leave-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95">
              <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg" v-if="isOn">
                <div class="py-1 rounded-md bg-white shadow-xs">
                  <router-link 
                    :to="{ name: 'dashboard.index'}"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">
                    Mi perfil
                  </router-link>
                  <router-link 
                    :to="{ name: 'logout'}"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">
                    Cerrar sesión
                  </router-link>
                </div>
              </div>
            </transition>
          </div>
        </div>
        <div v-else class="hidden lg:ml-4 lg:flex lg:items-center">
          <router-link :to="{ name: 'login' }"
            class="bg-transparent hover:bg-main-500 text-main-500 font-semibold hover:text-white py-2 px-4 border border-main-500 hover:border-transparent rounded">
            Iniciar Sesión
          </router-link>
        </div>
      </div>
    </div>

    <!--
    Mobile menu, toggle classes based on menu state.
  -->
    <div class="lg:hidden" 
        :class="{ 'hidden' : !isMobileMenuOn, 'block' : isMobileMenuOn}">
      <div class="pt-2 pb-3">
        <a :href="'/'"
          class="block pl-3 pr-4 py-2 border-l-4 border-main-500 text-base font-medium text-red-700 bg-red-50 focus:outline-none focus:text-red-800 focus:bg-red-100 focus:border-red-700 transition duration-150 ease-in-out">
          Home
        </a>
        <a :href="'/visited-pois'"
          class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
          Eventos Visitados
        </a>
      </div>
      <div v-if="loggedIn"
          class="pt-4 pb-3 border-t border-gray-200">
        <div class="flex items-center px-4">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full"
              :src="userLogo"
              alt="" />
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-6 text-gray-800">{{ userName }}</div>
            <div class="text-sm font-medium leading-5 text-gray-500">{{ userEmail }}</div>
          </div>
        </div>
        <div class="mt-3">
          <a :href="'dashboard'"
            class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out">
            Mi perfil
          </a>
          <a :href="'logout'"
            class="mt-1 block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out">
            Cerrar sesión
          </a>
        </div>
      </div>
      
      <div v-else 
        class="pt-4 pb-3 border-t border-gray-200">
        <div>
          <!-- <a :href="'dashboard'"
            class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out">
            Mi perfil
          </a>
          <a :href="'logout'"
            class="mt-1 block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out">
            Cerrar sesión
          </a>
         -->
         <router-link :to="{ name: 'login' }"
          class="m-4 bg-transparent hover:bg-main-500 text-main-500 font-semibold hover:text-white py-2 px-4 border border-main-500 hover:border-transparent rounded">
          Iniciar Sesión
        </router-link>
         </div>
        
      </div>

    </div>
  </nav>
</template>

<script>
  import SearchComponent from './SearchComponent.vue'

  export default {
    name: 'NavbarComponent',
    data() {
      return {
        isOn: false,
        isMobileMenuOn: false
      }
    },
    props: {},
    computed: {
      loggedIn() {
        return this.$store.getters.loggedIn
      },
      userData() {
        return this.$store.getters.userData
      },
      userLogo() {
        return this.userData.photo_url ?? 'https://res.cloudinary.com/toniramon/image/upload/v1589888051/mock_person.png'
      },
      userName() {
        return this.userData.name ?? 'Usuario'
      },
      userEmail() {
        return this.userData.email ?? 'email'
      }
    },
    components: {
      SearchComponent
    }
  }
</script>

<style scoped>
  @media (max-width: 769px) {
    .show-logo-words {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .show-logo {
      display: none;
    }
  }
</style>