<template>
  <div>
    <NavbarComponent />
    <div class="gradient">
      <div class="p-8 mb-12 shadow-inner text-white">
        <div class="flex justify-center">
          <div class="w-full my-8" v-if="poi">
            <h1 class="placeTitle customTitle font-normal">{{ poi.name }}</h1>
            <!-- breadcrumbs -->
            <poi-breadcrumbs :poi="poi"></poi-breadcrumbs>
            <!-- END: breadcrumbs -->
          </div>
        </div>
      </div>

      <div class="relative -mt-12 lg:-mt-24">
        <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <path
                d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
                opacity="0.100000001"></path>
              <path
                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                opacity="0.100000001"></path>
              <path
                d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
                id="Path-4" opacity="0.200000003"></path>
            </g>
            <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <path
                d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z">
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="px-12 pt-12 bg-gray-200">
      <div class="container py-6 mx-auto overflow-hidden">
        <div class="bg-white shadow-md overflow-x-auto flex flex-no-wrap"
          v-if="poi.media && poi.media.length > 0">
            <img class="object-cover h-48 w-48 m-4 rounded-lg" 
              v-for="(image, i) in images" 
              :src="image" 
              :key="i" 
              @click="index = i"
              >
            <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
        </div>
        <div class="flex flex-wrap -mx-1 lg:-mx-4">
          <!-- Cards Column -->
          <div v-bind:class="{ 'md:w-2/3' : showDescriptionWithDetails }"
            class="my-1 px-1 w-full lg:my-4 lg:px-4 sm:w-full">
            <!-- Card -->
            <div class="rounded overflow-hidden shadow-lg bg-white box-border shadow-sm">
              <div class="px-6 py-4">
                <div class="font-bold text-2xl mb-2">Descripción</div>
                <div v-html="poi.description"></div>
              </div>
              <div class="px-6 py-4">
                <span v-for="poiCategory in poi.categories" :key="poiCategory.id"
                  class="inline-block bg-gray-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                  #{{ poiCategory.name }}
                </span>
                <span v-for="poiTag in poi.tags" :key="poiTag.id"
                  class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">
                  #{{ poiTag.name_en }}
                </span>
              </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg flex flex-wrap box-border shadow-sm bg-white mt-4 p-4"
              v-if="poi.reviews && poi.reviews.length == 0">
              <p class="font-medium text-lg text-left">Aún no tenemos valoraciones de {{ poi.name }}</p>
            </div>
            
            <div class="rounded overflow-hidden flex flex-wrap box-border mt-4"
              v-else>
              <div class="bg-white w-full mb-4 rounded-lg p-2">
                <p class="font-medium text-lg text-center">Reseñas de nuestros usuarios</p>
              </div>
              <!-- valoraciones !-->
              <div v-for="review in poi.reviews" :key="review.id"
                class="w-full lg:w-1/2 p-2 relative">
                <div class="bg-white rounded-lg">
                  <div>
                    <div class="row flex py-4 ml-2">
                      <div class="w-1/2 flex items-center">
                        <div class="flex-shrink-0 ml-2">
                          <a href="#">
                            <img class="h-10 w-10 rounded-full"
                              :src="userLogo(review.user)"
                              alt="" />
                          </a>
                        </div>
                        <div class="ml-3">
                          <p class="leading-5 font-medium text-gray-900">
                            @{{ review.user.username }}
                          </p>
                          <div class="flex text-sm leading-5 text-gray-500">
                            <time> {{ review.created_at | moment("L") }} </time>
                          </div>
                        </div>
                      </div>
                      <div class="w-1/2 text-left">
                        <strong>Valoración</strong>: {{ review.rating }}/5
                      </div>
                    </div>
                    <div class="text-left mt-3 pb-3 mx-4 break-words">
                      <span class="text-lg font-medium">Opinión: </span>
                      <p v-html="review.description" class="leading-6 text-gray-600"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END Card -->
          </div>
          <div v-if="showDescriptionWithDetails" class="my-1 px-1 w-full lg:my-4 lg:px-4 md:w-1/3 sm:w-full">
            <!-- Card -->
            <div class="rounded overflow-hidden shadow-lg bg-white">
              <div class="px-6 py-4">
                <div class="font-bold text-2xl">
                  Detalles
                </div>
                <div class="py-5">
                  <div v-for="(detail, index) in poi.details_poi" :key="index"
                    class="px-2 py-2 bg-gray-200 rounded-lg mt-2 mb-2 pl-4 pr-4 hover:bg-gray-300">
                    <p class="text-large text-center">
                      {{ detail.type_es }}
                    </p>
                    <p class="text-gray-600 font-thin">{{ detail.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- END Card -->
          </div>
          <!-- END Cards Column -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import PoiBreadcrumbs from './pois/PoiBreadcrumbsComponent';
  import NavbarComponent from './NavbarComponent.vue';
  import VueGallerySlideshow from 'vue-gallery-slideshow';

  export default {
    name: 'PoiComponent',
    props: {},
    data() {
      return {
        poi: '',
        index: null
      }
    },
    created() {
      this.getPoi();
      localStorage.setItem(`visited-time-${Date.now()}`, JSON.stringify({
        time: Date.now(),
        page: this.$router.history.current.params.pathMatch
      }));
    },
    methods: {
      getPoi() {
        this.$axios
          .get(`${process.env.VUE_APP_BACKEND_URL}/pois/${this.$router.history.current.params.pathMatch}`)
          .then(res => {
            this.poi = res.data;
          })
      },
      displayImage(poi) {
        return poi.image_url ?? 'https://via.placeholder.com/150';
      },
      userLogo(user) {
        return user.photo_url ?? 'https://res.cloudinary.com/toniramon/image/upload/v1589888051/mock_person.png'
      },
    },
    computed: {
      showDescriptionWithDetails() {
        if (Array.isArray(this.poi.details_poi) && this.poi.details_poi.length > 0) {
          return true;
        } else {
          return false;
        }
      },
      images() {
        // array de strings.
        if (this.poi.media && this.poi.media.length > 0) {
          return this.poi.media.map((media) => media.url);
        } else {
          return [];
        }
      }
    },
    components: {
      PoiBreadcrumbs,
      NavbarComponent,
      VueGallerySlideshow
    }
  }
</script>

<style scoped>
  .gradient {
    background: linear-gradient(90deg, #FF5A5F 0%, #FF5890 100%);
  }

  @media (max-width: 768px) {
    .placeTitle {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 768px) {
    .placeTitle {
      font-size: 6rem;
    }
  }
</style>