<template>
  <div>
    <NavbarComponent />
    <div class="px-4">
    <div class="container mx-auto mt-12 px-4">
      <div class="container my-6 mx-auto px-4 md:px-12">
        <div class="text-center text-4xl font-medium">
          <div v-if="!isPoisEmpty">
            <h1>¡No pierdas de vista ningún punto de interés!</h1>
            <small  class="text-gray-600">Puntos de interés que has visitado anteriormente</small>
          </div>
          <div v-else>
            <p class="text-gray-600 text-2xl">Parece que no has visitado ningun lugar, muy mal!</p>
            <p class="text-gray-600 text-xl">¿Te apetece descubrir nuevos lugares?</p>
            <router-link :to="{ path: '/' }">
              <button class="m-12 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded text-xl">¡Me encantaría!</button>
            </router-link>
          </div>
        </div>
        <!-- Items Loop -->
        <transition-group name="fadeUp" tag="ul" class="list-group">
        <div v-for="(poi, index) in pois" :key="index+1" class="my-1 px-1 w-full my-4 lg:px-4">

          <div class="flex m-4 p-4 rounded-lg overflow-hidden shadow-lg bg-white fade-enter-active">
            <div class="w-1/5">
              <img class="h-16 w-16 md:h-24 md:w-24 rounded-lg mx-auto md:mx-0 md:mr-6" :src="poi.thumbnail_url">
            </div>
            <div class="w-4/5">
              <div class="row inline-block w-full">
                <div class="titleOnMobiles">
                  <router-link :to="{ path: '/poi/' + poi.url }">
                    <h2 class="text-2xl md:text-xl sm:text-center md:text-left text-left font-semibold mx-4">{{ poi.name }}</h2>
                  </router-link>
                </div>
                <div class="hideOnMobiles">
                <span class="text-right bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1">{{ poi.time | moment("lll") }}</span>
                </div>
              </div>
              <div class="row">
                <span 
                  v-for="poiCategory in poi.categories" :key="poiCategory.id"
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 m-1"
                  >
                  #{{ poiCategory.name }}
                </span>
              </div>
            </div>
          </div>

        </div>
        </transition-group>
        <!-- End Items Loop -->

        <div v-if="!isPoisEmpty" class="mt-8">
          <button v-on:click="restartLocalStorage" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Reiniciar la lista</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</template>

<script>
  import NavbarComponent from './NavbarComponent.vue'

  export default {
    name: 'VisitedPoisComponent',
    props: {},
    data() {
      return {
        pois: [],
        localStorageData: [],
        visitedPois: []
      }
    },
    methods: {
      getLocalStorage() {
        this.localStorageData = {
          ...localStorage
        };
        this.clearLocalStorage();
      },
      getPois() {
        // foreach item: get the url and do request . Then push to array.
        this.localStorageData.forEach(poi => {
          this.$axios
          .get(`${process.env.VUE_APP_BACKEND_URL}/pois/${poi.page}`)
          .then(res => {
            let totalPoi = [];
            totalPoi = res.data;
            totalPoi.time = poi.time;
            this.pois.push(totalPoi);
          })
        })

        this.loadVisitedPois();
      },
      clearLocalStorage() {
        let result = [];

        // Create a Map from Local Storage Object
        let localStorageMap = new Map(Object.entries(this.localStorageData));

        // Create a Array from the Map
        let localStorageMapKeys = Array.from(localStorageMap.entries());

        // Validate that the local storage element is a visited page
        localStorageMapKeys.forEach(localStorageItem => {
          if (localStorageItem[0].includes('visited')) {
            result.push(JSON.parse(localStorageItem[1]));
          }
        });

        this.localStorageData = result;
      },
      loadVisitedPois() {
        this.localStorageData.forEach((localStorageItem) => this.pois.forEach((poi) => {
          if (localStorageItem.page) {
            if (localStorageItem.page == poi.url) {
              poi.time = localStorageItem.time;
              this.visitedPois.push(poi);
            }
          }
        }))
      },
      restartLocalStorage() {
        localStorage.clear();
        this.pois = [];
      }
    },
    computed: {
      isPoisEmpty() {
        return this.pois.length > 0 ? false : true;
      }
    },
    created() {
      this.getLocalStorage();
      this.getPois();
    },
    beforeDestroy() {
      // localStorage.clear();
    },
    components: {
      NavbarComponent
    }
  }
</script>

<style scoped>
@media (max-width: 768px) {
  .hideOnMobiles {
    display: none;
  }
}

@media (min-width: 768px) {
  .hideOnMobiles {
    float: right;
  }
  .titleOnMobiles {
    float: left;
  }
}

</style>