<template>
    <div>
        <NavbarComponent />
        <div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img class="mx-auto h-16 w-auto" src="../../assets/images/logo-nomadhunting-256.png" alt="NH">
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Iniciar sesión
                </h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form action="#" @submit.prevent="login">
                        <div>
                            <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
                                Email
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input id="email" type="email" required
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                    v-model="email" />
                            </div>
                        </div>

                        <div class="mt-6">
                            <label for="password" class="block text-sm font-medium leading-5 text-gray-700">
                                Contraseña
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input id="password" type="password" required
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                                    v-model="password" />
                            </div>
                        </div>

                        <div class="mt-6 flex items-center justify-between">
                            <div class="flex items-center">
                                <input id="remember_me" type="checkbox"
                                    class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
                                <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
                                    Recordarme
                                </label>
                            </div>

                            <div class="text-sm leading-5">
                                <a href="#"
                                    class="font-medium text-main-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                                    Has olvidado tu contraseña?
                                </a>
                            </div>
                        </div>

                        <div v-if="validationError" 
                            class="rounded-md bg-red-50 p-4 mt-8">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-5 w-5 text-red-400" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3">
                                    <h3 class="text-sm leading-5 font-medium text-red-800">
                                        Ha ocurrido un error
                                    </h3>
                                    <div class="mt-2 text-sm leading-5 text-red-700">
                                        <ul class="list-disc pl-5">
                                            <li>
                                                Revise su email / contraseña
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="validationsuccess" 
                            class="rounded-md bg-green-50 p-4 mt-8">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                                    </svg>
                                    </div>
                                    <div class="ml-3">
                                    <h3 class="text-sm leading-5 font-medium text-green-800">
                                        Bienvenido de nuevo, redirigiendo a su <span class="font-bold">Área Personal</span>
                                    </h3>
                                </div>
                            </div>
                        </div>


                        <div class="mt-6">
                            <span class="block w-full rounded-md shadow-sm">
                                <button type="submit"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-main-500 hover:bg-secondary-500 focus:outline-none focus:border-secondary-500 focus:shadow-outline-secondary active:bg-secondary-500 transition duration-150 ease-in-out">
                                    Iniciar sesión
                                </button>
                            </span>
                        </div>
                    </form>

                    <div class="mt-6">
                        <div class="relative">
                            <div class="absolute inset-0 flex items-center">
                                <div class="w-full border-t border-gray-300"></div>
                            </div>
                            <div class="relative flex justify-center text-sm leading-5">
                                <span class="px-2 bg-white text-gray-500">
                                    Crear una cuenta
                                </span>
                            </div>
                        </div>

                        <div class="mt-6 text-sm leading-5">
                            <span href="#"
                                class="font-medium text-gray-600 focus:outline-none focus:underline transition ease-in-out duration-150">
                                ¿Aún no tienes una cuenta?
                                <router-link :to="{ name: 'register' }" class="font-bold">
                                    Registrarse
                                </router-link>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NavbarComponent from '../NavbarComponent.vue'

    export default {
        name: 'login',
        data() {
            return {
                email: '',
                password: '',
                validationError: false,
                validationsuccess: false,
                loginName: ''
            }
        },
        methods: {
            login() {
                this.validationError = false
                this.validationsuccess = false

                this.$store.dispatch('retrieveToken', {
                        email: this.email,
                        password: this.password
                    })
                    .then(() => {
                        this.validationsuccess = true;
                        setTimeout(() => {
                            this.$router.go('dashboard.index')
                        }, 2000)
                    })
                    .catch(() => {
                        this.validationError = true;
                    })
            }
        },
        components: {
            NavbarComponent
        }
    }
</script>